.wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
  background: url('../images/bg-feather.jpeg');
}
.container {
  width: 800px;
  border-radius: 100px;
  margin: 40px auto;
  text-align: center;
  background: url('../images/bg-white.jpeg');
}
.container button{
    margin: 40px 0;
    width: 150px;
    height: 35px;
    background: url('../images/bg-black.jpg');
    border: 1px solid transparent;
    color: #fff;
    border-radius: 5px;
}
